<div class="product-list">
    @@if (context.title ) {
    <h2 class="subtitle">@@title</h2>
    }
    <div class="product-list__wrap">
        <div class="product-list__sliders">
            <div class="product-list__slider tab-content active">
                <button class="slider-arr slider-arr_prev">
                    <svg class="icon">
                        <use xlink:href="img/sprite.svg#arrow-slider"></use>
                    </svg>
                </button>
                <button class="slider-arr slider-arr_next">
                    <svg class="icon">
                        <use xlink:href="img/sprite.svg#arrow-slider"></use>
                    </svg>
                </button>

                <div class="product-list__list flex @@cart">
                    <div class="prod-cart">
                        <div class="prod-cart__badges flex dc">
                            <div class="badge badge-hit">ХИТ</div>
                        </div>
                        <div class="control-pc flex">
                            <div class="control-pc__season">
                                <img src="@img/icons/season_02_1.svg" class="icon_24" alt="season_icon" />
                            </div>
                            <div class="control-pc__article">
                                <div class="control-pc__subtext copyArt">Арт.</div>
                                <div class="control-pc__num">
                                    <span>11532353</span>
                                    <button onclick=" navigator.clipboard.writeText('11532353');"><img src="@img/icons/copy.svg" alt="copy_icon" /></button>
                                </div>
                            </div>
                        </div>
                        <div class="prod-cart__img">
                            <img src="@img/product/prev/01.png" alt="card-img" />
                            <button class="prod-cart__favorite icon_24">
                                <svg class="icon">
                                    <use xlink:href="@img/sprite.svg#favorite"></use>
                                </svg>
                            </button>
                            <div class="info-pc">
                                <div class="info-pc__icon icon_24">
                                    <img src="@img/icons/security.svg" alt="security_icon" />
                                </div>
                                <div class="info-pc__icon icon_24">
                                    <img src="@img/icons/calendar.svg" alt="calendar_icon" />
                                </div>
                                <div class="info-pc__lable">Хранение 0₽</div>
                                <div class="info-pc__lable">Шиномонтаж 0₽</div>
                            </div>
                        </div>
                        <div class="prod-cart__body">
                            <a href="#" class="prod-cart__name">Шина Triangle Group WinterX TW401</a>
                            <div class="prod-cart__offers flex fw">
                                <a href="#" class="prod-cart__offer help"
                                    >205/50R17
                                    <div class="help__text">Ширина/Высота Диаметр</div>
                                </a>
                                <a href="#" class="prod-cart__offer help"
                                    >93V
                                    <div class="help__text">
                                        Индекс скорости: 170 км/ч. <br />
                                        Индекс нагрузки: 650 кг
                                    </div>
                                </a>
                                <a href="#" class="prod-cart__offer help"
                                    >XL
                                    <div class="help__text">Конструкция шины обладает усиленным каркасом</div>
                                </a>
                            </div>
                            <div class="prod-cart__bottom">
                                <div class="price-pc">
                                    <div class="price-pc__value">6 558 ₽</div>
                                    <div class="price-pc__one">26 232 ₽ <span>за 4 шт.</span></div>
                                </div>
                                <div class="add-pc">
                                    <div class="add-pc__wrap">
                                        <div class="quantity">
                                            <button class="quantity__btn quantity__btn_minus">
                                                <svg class="icon">
                                                    <use xlink:href="img/sprite.svg#minus"></use>
                                                </svg>
                                            </button>
                                            <input type="number" class="quantity__input" value="4" />
                                            <button class="quantity__btn quantity__btn_plus">
                                                <svg class="icon">
                                                    <use xlink:href="img/sprite.svg#plus"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <button class="prod-cart__add btn btn-primary">В корзину</button>
                                    </div>
                                    <a href="#" class="prod-cart__basket btn btn-green">
                                        Перейти в корзину
                                        <span>Товар добавлен</span>
                                    </a>
                                </div>
                            </div>
                            <ul class="prod-cart__option">
                                <li>
                                    <div>В наличии</div>
                                    <div>Более 4 шт.</div>
                                </li>
                                <li>
                                    <div>Получение</div>
                                    <div>Сегодня</div>
                                </li>
                                <li>
                                    <div>Доставка</div>
                                    <div>Бесплатно</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="prod-cart">
                        <!-- <div class="prod-cart__badges flex dc">
                  <div class="badge badge-hit">ХИТ</div>
               </div> -->
                        <div class="control-pc flex">
                            <div class="control-pc__season">
                                <img src="@img/icons/season_02_1.svg" class="icon_24" alt="season_icon" />
                            </div>
                            <div class="control-pc__article">
                                <div class="control-pc__subtext copyArt">Арт.</div>
                                <div class="control-pc__num">
                                    <span>11532353</span>
                                    <button onclick=" navigator.clipboard.writeText('11532353');"><img src="@img/icons/copy.svg" alt="copy_icon" /></button>
                                </div>
                            </div>
                        </div>
                        <div class="prod-cart__img">
                            <img src="@img/product/prev/01.png" alt="card-img" />
                            <button class="prod-cart__favorite icon_24 active">
                                <svg class="icon">
                                    <use xlink:href="@img/sprite.svg#favorite"></use>
                                </svg>
                            </button>
                            <div class="info-pc">
                                <div class="info-pc__icon icon_24">
                                    <img src="@img/icons/security.svg" alt="security_icon" />
                                </div>
                                <div class="info-pc__icon icon_24">
                                    <img src="@img/icons/calendar.svg" alt="calendar_icon" />
                                </div>
                                <div class="info-pc__lable">Хранение 0₽</div>
                                <div class="info-pc__lable">Шиномонтаж 0₽</div>
                            </div>
                        </div>
                        <div class="prod-cart__body">
                            <a href="#" class="prod-cart__name">Шина Triangle Group WinterX TW401</a>
                            <div class="prod-cart__offers flex fw">
                                <a href="#" class="prod-cart__offer help"
                                    >205/50R17
                                    <div class="help__text">Ширина/Высота Диаметр</div>
                                </a>
                                <a href="#" class="prod-cart__offer help"
                                    >93V
                                    <div class="help__text">
                                        Индекс скорости: 170 км/ч. <br />
                                        Индекс нагрузки: 650 кг
                                    </div>
                                </a>
                                <a href="#" class="prod-cart__offer help"
                                    >XL
                                    <div class="help__text">Конструкция шины обладает усиленным каркасом</div>
                                </a>
                            </div>
                            <div class="prod-cart__bottom">
                                <div class="price-pc">
                                    <div class="price-pc__value">6 558 ₽</div>
                                    <div class="price-pc__one">26 232 ₽ <span>за 4 шт.</span></div>
                                </div>
                                <div class="add-pc">
                                    <div class="add-pc__wrap">
                                        <div class="quantity">
                                            <button class="quantity__btn quantity__btn_minus">
                                                <svg class="icon">
                                                    <use xlink:href="img/sprite.svg#minus"></use>
                                                </svg>
                                            </button>
                                            <input type="number" class="quantity__input" value="4" />
                                            <button class="quantity__btn quantity__btn_plus">
                                                <svg class="icon">
                                                    <use xlink:href="img/sprite.svg#plus"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <button class="prod-cart__add btn btn-primary">В корзину</button>
                                    </div>
                                    <a href="#" class="prod-cart__basket btn btn-green">
                                        Перейти в корзину
                                        <span>Товар добавлен</span>
                                    </a>
                                </div>
                            </div>
                            <ul class="prod-cart__option">
                                <li>
                                    <div>В наличии</div>
                                    <div>Более 4 шт.</div>
                                </li>
                                <li>
                                    <div>Получение</div>
                                    <div>Сегодня</div>
                                </li>
                                <li>
                                    <div>Доставка</div>
                                    <div>Бесплатно</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="prod-cart">
                        <div class="prod-cart__badges flex dc">
                            <div class="badge badge-new">NEW</div>
                        </div>
                        <div class="control-pc flex">
                            <div class="control-pc__season">
                                <img src="@img/icons/season_04_1.svg" class="icon_24" alt="season_icon" />
                            </div>
                            <div class="control-pc__article">
                                <div class="control-pc__subtext copyArt">Арт.</div>
                                <div class="control-pc__num">
                                    <span>11532353</span>
                                    <button onclick=" navigator.clipboard.writeText('11532353');"><img src="@img/icons/copy.svg" alt="copy_icon" /></button>
                                </div>
                            </div>
                        </div>
                        <div class="prod-cart__img">
                            <img src="@img/product/prev/01.png" alt="card-img" />
                            <button class="prod-cart__favorite icon_24">
                                <svg class="icon">
                                    <use xlink:href="@img/sprite.svg#favorite"></use>
                                </svg>
                            </button>
                            <div class="info-pc">
                                <!-- <div class="info-pc__icon icon_24">
                        <img src="@img/icons/security.svg" alt="security_icon" />
                     </div> -->
                                <div class="info-pc__icon icon_24">
                                    <img src="@img/icons/calendar.svg" alt="calendar_icon" />
                                </div>
                                <div class="info-pc__lable">Хранение 0₽</div>
                                <div class="info-pc__lable">Шиномонтаж 2300₽</div>
                            </div>
                        </div>
                        <div class="prod-cart__body">
                            <a href="#" class="prod-cart__name">Шина Triangle Group WinterX TW401</a>
                            <div class="prod-cart__offers flex fw">
                                <a href="#" class="prod-cart__offer help"
                                    >205/50R17
                                    <div class="help__text">Ширина/Высота Диаметр</div>
                                </a>
                                <a href="#" class="prod-cart__offer help"
                                    >93V
                                    <div class="help__text">
                                        Индекс скорости: 170 км/ч. <br />
                                        Индекс нагрузки: 650 кг
                                    </div>
                                </a>
                                <a href="#" class="prod-cart__offer help"
                                    >XL
                                    <div class="help__text">Конструкция шины обладает усиленным каркасом</div>
                                </a>
                            </div>
                            <div class="prod-cart__bottom">
                                <div class="price-pc">
                                    <div class="price-pc__value">6 558 ₽</div>
                                    <div class="price-pc__one">26 232 ₽ <span>за 4 шт.</span></div>
                                </div>
                                <div class="add-pc">
                                    <div class="add-pc__wrap">
                                        <div class="quantity">
                                            <button class="quantity__btn quantity__btn_minus">
                                                <svg class="icon">
                                                    <use xlink:href="img/sprite.svg#minus"></use>
                                                </svg>
                                            </button>
                                            <input type="number" class="quantity__input" value="4" />
                                            <button class="quantity__btn quantity__btn_plus">
                                                <svg class="icon">
                                                    <use xlink:href="img/sprite.svg#plus"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <button class="prod-cart__add btn btn-primary">В корзину</button>
                                    </div>
                                    <a href="#" class="prod-cart__basket btn btn-green">
                                        Перейти в корзину
                                        <span>Товар добавлен</span>
                                    </a>
                                </div>
                            </div>
                            <ul class="prod-cart__option">
                                <li>
                                    <div>В наличии</div>
                                    <div>Более 4 шт.</div>
                                </li>
                                <li>
                                    <div>Получение</div>
                                    <div>Сегодня</div>
                                </li>
                                <li>
                                    <div>Доставка</div>
                                    <div>Бесплатно</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="prod-cart">
                        <div class="prod-cart__badges flex dc">
                            <div class="badge badge-hit">ХИТ</div>
                        </div>
                        <div class="control-pc flex">
                            <div class="control-pc__season">
                                <img src="@img/icons/season_02_1.svg" class="icon_24" alt="season_icon" />
                            </div>
                            <div class="control-pc__article">
                                <div class="control-pc__subtext copyArt">Арт.</div>
                                <div class="control-pc__num">
                                    <span>11532353</span>
                                    <button onclick=" navigator.clipboard.writeText('11532353');"><img src="@img/icons/copy.svg" alt="copy_icon" /></button>
                                </div>
                            </div>
                        </div>
                        <div class="prod-cart__img">
                            <img src="@img/product/prev/01.png" alt="card-img" />
                            <button class="prod-cart__favorite icon_24 active">
                                <svg class="icon">
                                    <use xlink:href="@img/sprite.svg#favorite"></use>
                                </svg>
                            </button>
                            <div class="info-pc">
                                <div class="info-pc__icon icon_24">
                                    <img src="@img/icons/security.svg" alt="security_icon" />
                                </div>
                                <div class="info-pc__icon icon_24">
                                    <img src="@img/icons/calendar.svg" alt="calendar_icon" />
                                </div>
                                <div class="info-pc__lable">Хранение 0₽</div>
                                <div class="info-pc__lable">Шиномонтаж 0₽</div>
                            </div>
                        </div>
                        <div class="prod-cart__body">
                            <a href="#" class="prod-cart__name">Шина Triangle Group WinterX TW401</a>
                            <div class="prod-cart__offers flex fw">
                                <a href="#" class="prod-cart__offer help"
                                    >205/50R17
                                    <div class="help__text">Ширина/Высота Диаметр</div>
                                </a>
                                <a href="#" class="prod-cart__offer help"
                                    >93V
                                    <div class="help__text">
                                        Индекс скорости: 170 км/ч. <br />
                                        Индекс нагрузки: 650 кг
                                    </div>
                                </a>
                                <a href="#" class="prod-cart__offer help"
                                    >XL
                                    <div class="help__text">Конструкция шины обладает усиленным каркасом</div>
                                </a>
                            </div>
                            <div class="prod-cart__bottom">
                                <div class="price-pc">
                                    <div class="price-pc__value">6 558 ₽</div>
                                    <div class="price-pc__one">26 232 ₽ <span>за 4 шт.</span></div>
                                </div>
                                <div class="add-pc">
                                    <div class="add-pc__wrap">
                                        <div class="quantity">
                                            <button class="quantity__btn quantity__btn_minus">
                                                <svg class="icon">
                                                    <use xlink:href="img/sprite.svg#minus"></use>
                                                </svg>
                                            </button>
                                            <input type="number" class="quantity__input" value="4" />
                                            <button class="quantity__btn quantity__btn_plus">
                                                <svg class="icon">
                                                    <use xlink:href="img/sprite.svg#plus"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <button class="prod-cart__add btn btn-primary">В корзину</button>
                                    </div>
                                    <a href="#" class="prod-cart__basket btn btn-green">
                                        Перейти в корзину
                                        <span>Товар добавлен</span>
                                    </a>
                                </div>
                            </div>
                            <ul class="prod-cart__option">
                                <li>
                                    <div>В наличии</div>
                                    <div>Более 4 шт.</div>
                                </li>
                                <li>
                                    <div>Получение</div>
                                    <div>Сегодня</div>
                                </li>
                                <li>
                                    <div>Доставка</div>
                                    <div>Бесплатно</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="prod-cart">
                        <div class="prod-cart__badges flex dc">
                            <div class="badge badge-hit">ХИТ</div>
                        </div>
                        <div class="control-pc flex">
                            <div class="control-pc__season">
                                <img src="@img/icons/season_02_1.svg" class="icon_24" alt="season_icon" />
                            </div>
                            <div class="control-pc__article">
                                <div class="control-pc__subtext copyArt">Арт.</div>
                                <div class="control-pc__num">
                                    <span>11532353</span>
                                    <button onclick=" navigator.clipboard.writeText('11532353');"><img src="@img/icons/copy.svg" alt="copy_icon" /></button>
                                </div>
                            </div>
                        </div>
                        <div class="prod-cart__img">
                            <img src="@img/product/prev/01.png" alt="card-img" />
                            <button class="prod-cart__favorite icon_24">
                                <svg class="icon">
                                    <use xlink:href="@img/sprite.svg#favorite"></use>
                                </svg>
                            </button>
                            <div class="info-pc">
                                <div class="info-pc__icon icon_24">
                                    <img src="@img/icons/security.svg" alt="security_icon" />
                                </div>
                                <div class="info-pc__icon icon_24">
                                    <img src="@img/icons/calendar.svg" alt="calendar_icon" />
                                </div>
                                <div class="info-pc__lable">Хранение 0₽</div>
                                <div class="info-pc__lable">Шиномонтаж 0₽</div>
                            </div>
                        </div>
                        <div class="prod-cart__body">
                            <a href="#" class="prod-cart__name">Шина Triangle Group WinterX TW401</a>
                            <div class="prod-cart__offers flex fw">
                                <a href="#" class="prod-cart__offer help"
                                    >205/50R17
                                    <div class="help__text">Ширина/Высота Диаметр</div>
                                </a>
                                <a href="#" class="prod-cart__offer help"
                                    >93V
                                    <div class="help__text">
                                        Индекс скорости: 170 км/ч. <br />
                                        Индекс нагрузки: 650 кг
                                    </div>
                                </a>
                                <a href="#" class="prod-cart__offer help"
                                    >XL
                                    <div class="help__text">Конструкция шины обладает усиленным каркасом</div>
                                </a>
                            </div>
                            <div class="prod-cart__bottom">
                                <div class="price-pc">
                                    <div class="price-pc__value">6 558 ₽</div>
                                    <div class="price-pc__one">26 232 ₽ <span>за 4 шт.</span></div>
                                </div>
                                <div class="add-pc">
                                    <div class="add-pc__wrap">
                                        <div class="quantity">
                                            <button class="quantity__btn quantity__btn_minus">
                                                <svg class="icon">
                                                    <use xlink:href="img/sprite.svg#minus"></use>
                                                </svg>
                                            </button>
                                            <input type="number" class="quantity__input" value="4" />
                                            <button class="quantity__btn quantity__btn_plus">
                                                <svg class="icon">
                                                    <use xlink:href="img/sprite.svg#plus"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <button class="prod-cart__add btn btn-primary">В корзину</button>
                                    </div>
                                    <a href="#" class="prod-cart__basket btn btn-green">
                                        Перейти в корзину
                                        <span>Товар добавлен</span>
                                    </a>
                                </div>
                            </div>
                            <ul class="prod-cart__option">
                                <li>
                                    <div>В наличии</div>
                                    <div>Более 4 шт.</div>
                                </li>
                                <li>
                                    <div>Получение</div>
                                    <div>Сегодня</div>
                                </li>
                                <li>
                                    <div>Доставка</div>
                                    <div>Бесплатно</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="prod-cart">
                        <div class="prod-cart__badges flex dc">
                            <div class="badge badge-hit">ХИТ</div>
                        </div>
                        <div class="control-pc flex">
                            <div class="control-pc__season">
                                <img src="@img/icons/season_02_1.svg" class="icon_24" alt="season_icon" />
                            </div>
                            <div class="control-pc__article">
                                <div class="control-pc__subtext copyArt">Арт.</div>
                                <div class="control-pc__num">
                                    <span>11532353</span>
                                    <button onclick=" navigator.clipboard.writeText('11532353');"><img src="@img/icons/copy.svg" alt="copy_icon" /></button>
                                </div>
                            </div>
                        </div>
                        <div class="prod-cart__img">
                            <img src="@img/product/prev/01.png" alt="card-img" />
                            <button class="prod-cart__favorite icon_24 active">
                                <svg class="icon">
                                    <use xlink:href="@img/sprite.svg#favorite"></use>
                                </svg>
                            </button>
                            <div class="info-pc">
                                <div class="info-pc__icon icon_24">
                                    <img src="@img/icons/security.svg" alt="security_icon" />
                                </div>
                                <div class="info-pc__icon icon_24">
                                    <img src="@img/icons/calendar.svg" alt="calendar_icon" />
                                </div>
                                <div class="info-pc__lable">Хранение 0₽</div>
                                <div class="info-pc__lable">Шиномонтаж 0₽</div>
                            </div>
                        </div>
                        <div class="prod-cart__body">
                            <a href="#" class="prod-cart__name">Шина Triangle Group WinterX TW401</a>
                            <div class="prod-cart__offers flex fw">
                                <a href="#" class="prod-cart__offer help"
                                    >205/50R17
                                    <div class="help__text">Ширина/Высота Диаметр</div>
                                </a>
                                <a href="#" class="prod-cart__offer help"
                                    >93V
                                    <div class="help__text">
                                        Индекс скорости: 170 км/ч. <br />
                                        Индекс нагрузки: 650 кг
                                    </div>
                                </a>
                                <a href="#" class="prod-cart__offer help"
                                    >XL
                                    <div class="help__text">Конструкция шины обладает усиленным каркасом</div>
                                </a>
                            </div>
                            <div class="prod-cart__bottom">
                                <div class="price-pc">
                                    <div class="price-pc__value">6 558 ₽</div>
                                    <div class="price-pc__one">26 232 ₽ <span>за 4 шт.</span></div>
                                </div>
                                <div class="add-pc">
                                    <div class="add-pc__wrap">
                                        <div class="quantity">
                                            <button class="quantity__btn quantity__btn_minus">
                                                <svg class="icon">
                                                    <use xlink:href="img/sprite.svg#minus"></use>
                                                </svg>
                                            </button>
                                            <input type="number" class="quantity__input" value="4" />
                                            <button class="quantity__btn quantity__btn_plus">
                                                <svg class="icon">
                                                    <use xlink:href="img/sprite.svg#plus"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <button class="prod-cart__add btn btn-primary">В корзину</button>
                                    </div>
                                    <a href="#" class="prod-cart__basket btn btn-green">
                                        Перейти в корзину
                                        <span>Товар добавлен</span>
                                    </a>
                                </div>
                            </div>
                            <ul class="prod-cart__option">
                                <li>
                                    <div>В наличии</div>
                                    <div>Более 4 шт.</div>
                                </li>
                                <li>
                                    <div>Получение</div>
                                    <div>Сегодня</div>
                                </li>
                                <li>
                                    <div>Доставка</div>
                                    <div>Бесплатно</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="progress-slider"><div></div></div>
            </div>
        </div>
    </div>
</div>
