:root {
   --font-family-main: "Commissioner", "Arial", sans-serif;

   // Размеры

   // Цвета
   --main-color: #282828;
   --text-main: #282828;
   --red-hover: #f00;
   --interface-grey: #b5b5b5;
   --outline-grey: #ededed;
   --bg-grey: #f8f8f8;
   --text-third: #8f8f8f;
   --interface-red: #e43a2d;
   --interface-red-transparent: rgba(199, 39, 28, 0.1);
   --interface-grey-middle: #3f3f3f;
   --text-second: #707070;
   --interface-grey-dark: #313131;
   --interface-green: #3eb16c;
   --interface-light-grey: #e4e4e4;
   --outline-grey-light: #f5f5f5;
   --interface-green-dark: #329359;
   --interface-green-light: #ecf7f0;
   --interface-blue: #4888d4;
}
