.head-lk {
   padding-bottom: 24px;
   // .head-lk__wrap

   &__wrap {
      margin-top: 12px;
      gap: 20px;

      @include md {
         flex-direction: column;
         justify-content: start;
         margin-top: 0;
      }

      // .head-lk__wrap_partner

      &_partner {
         @include lg {
            flex-wrap: wrap;
         }
      }
   }
   // .head-lk__item

   &__item {
      border: 1px solid var(--outline-grey);
      border-radius: 8px;
      padding: 32px;
      background: #fff;
      @include md {
         padding: 24px;
      }
      .subtitle {
         font-size: 20px;
      }
   }
}

.info-lk {
   flex: 1 1 auto;
   @include md {
      width: 100%;
   }
   // .info-lk__items

   &__items {
      gap: 4px 20px;
      @include sm {
         flex-direction: column;
      }
   }

   // .info-lk__item

   &__item {
      display: flex;
      align-items: center;
      gap: 12px;
      div {
         font-weight: 500;
         font-size: 16px;
         line-height: 140%;
         &:nth-child(1) {
            color: var(--text-third);
         }
      }

      // .info-lk__item_address

      &_address {
         @include sm {
            order: 1;
            flex-direction: column;
            gap: 8px;
            padding-top: 16px;
            div {
               min-width: 100%;
            }
         }
      }
   }

   // .info-lk__bottom

   &__bottom {
      margin-top: 24px;
      gap: 12px;
      @include sm {
         flex-direction: column;
      }
      .btn {
         height: 40px;
         font-size: 14px;
      }
      .btn-primary {
         max-width: 227px;
         @include sm {
            max-width: 100%;
         }
      }
      .btn-black-outline {
         max-width: 140px;
      }
      .btn-primary,
      .btn-black-outline {
         @include sm {
            max-width: 100%;
         }
      }
   }
}

//========================================================================================================================================================

.ball-lk {
   width: 412px;
   flex-shrink: 0;

   @include lg {
      width: 360px;
   }

   @include md {
      width: 100%;
   }
   // .ball-lk_partner
   &_partner {
      width: 304px;
      @include md {
         width: 100%;
      }
      .link-underline {
         margin-top: 27px;
         @include sm {
            margin: 0;
         }
      }
      .ball-lk__items {
         margin-top: 20px;
      }
      .ball-lk__item:not(:last-child) {
         margin-bottom: 20px;
         @include sm {
            margin-bottom: 8px;
         }
      }
   }
   // .ball-lk__head

   &__head {
      .subtitle {
         margin-bottom: 0;
      }
      .link-underline {
      }
   }

   // .ball-lk__items

   &__items {
      margin-top: 14px;
   }

   // .ball-lk__item

   &__item {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:not(:last-child) {
         margin-bottom: 8px;
      }
      div {
         &:nth-child(1) {
            color: var(--text-second);
         }
         span {
            font-weight: 600;
            font-size: 32px;
            line-height: 140%;
            color: var(--interface-red);
         }
      }
   }
}
//========================================================================================================================================================

.partner-lk {
   width: 383px;
   flex-shrink: 0;
   @include md {
      width: 100%;
   }
   // .partner-lk__wrap

   &__wrap {
      gap: 20px;
   }

   // .partner-lk__content

   &__content {
      flex: 1 1 auto;
      .subtitle {
      }
   }

   // .partner-lk__proc

   &__proc {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: var(--text-second);

      &:not(:last-child) {
         margin-bottom: 8px;
      }
   }

   // .partner-lk__qr

   &__qr {
      width: 120px;
      height: 120px;
      @include sm {
         width: 176px;
         height: 176px;
         margin-bottom: 20px;
      }
      img {
         max-width: 100%;
      }
   }

   // .partner-lk__bottom

   &__bottom {
      margin-top: 26px;
      gap: 8px;
      @include sm {
         margin-top: 20px;
         flex-direction: column;
         br {
            display: none;
         }
      }
      div {
         font-weight: 500;
         font-size: 16px;
         line-height: 140%;
         color: var(--text-second);
         &:nth-child(1) {
            max-width: 103px;
            @include sm {
               max-width: 100%;
            }
         }
         &:nth-child(2) {
            a {
               color: var(--interface-blue);
            }
         }
      }
   }
}

//========================================================================================================================================================
.order-lk {
   margin-top: 40px;
   @include md {
      margin-top: 20px;
   }
   .title {
      margin: 0px 0px 20px 0px;
   }

   &__list {
      border: 1px solid var(--outline-grey);
      border-radius: 8px;
      @include md {
         border: none;
      }
   }

   // .order-lk__item

   &__item {
      &:not(:last-child) {
         border-bottom: 1px solid var(--outline-grey);
      }

      &.active {
         .prod-llk {
            height: auto;
            opacity: 1;
            visibility: visible;
            padding-top: 8px;

            .prod-llk__item {
               padding: 12px 46px 12px 20px;
               opacity: 1;
               @include md {
                  padding: 12px 0px 12px 46px;
               }
            }
         }
         .price-lk__arr {
            img {
               transform: rotate(-180deg);
            }
         }
      }
   }
   // .order-lk__head

   &__head {
      padding: 12px 20px;
      @include md {
         flex-direction: column;
         align-items: start;
         padding: 12px 0px 12px 46px;
         position: relative;
         gap: 20px;
      }
   }
}
.info-lk {
   // .info-lk__top

   &__top {
      .status {
         font-weight: 500;
         font-size: 14px;
         line-height: 140%;
         margin-left: 20px;
         @include md {
            font-size: 12px;
         }
         &.status_job {
            color: var(--interface-blue);
         }
         &.status_success {
            color: var(--interface-green-dark);
         }
      }
   }

   // .info-lk__num

   &__num {
      font-weight: 500;
      font-size: 16px;
      color: var(--text-third);
      @include md {
         font-size: 14px;
      }
      span {
         display: inline-block;
         margin-left: 4px;
         font-weight: 600;
         font-size: 20px;
         line-height: 140%;
         color: var(--interface-red);
         @include md {
            font-size: 18px;
         }
      }
   }

   // .info-lk__list

   &__list {
      margin-top: 8px;
      gap: 20px;
      @include sm {
         flex-direction: column;
         gap: 8px;
         align-items: start;
      }
   }

   // .info-lk__item

   &__item {
      display: flex;
      align-items: center;
      gap: 10px;
      @include sm {
         gap: 0;
      }
      div {
         font-weight: 500;
         font-size: 16px;
         line-height: 140%;
         @include md {
            font-size: 14px;
            gap: 8px;
         }
         &:nth-child(1) {
            color: var(--text-third);
         }
      }
   }
}

.price-lk {
   flex-shrink: 0;
   @include md {
      text-align: left;
   }
   // .price-lk__overlay

   &__overlay {
   }

   // .price-lk__top

   &__top {
      align-items: baseline;
      padding-top: 4px;
   }

   // .price-lk__num

   &__num {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      @include sm {
         font-size: 14px;
      }
   }

   // .price-lk__price

   &__price {
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      color: var(--interface-red);
      margin-left: 32px;
      @include sm {
         font-size: 18px;
         margin-left: 20px;
      }
   }

   // .price-lk__item

   &__item {
      margin-top: 4px;
      font-weight: 500;
      line-height: 140%;
      color: var(--text-third);
   }
   // .price-lk__arr

   &__arr {
      width: 34px;
      height: 34px;
      padding: 8px;
      margin-left: 12px;
      @include md {
         position: absolute;
         margin: 0;
         top: 12px;
         left: 0;
      }
      img {
         transition: all 0.3s ease 0s;
      }
   }
}

.prod-llk {
   transition: all 0.3s ease 0s;
   height: 0;
   opacity: 0;
   visibility: hidden;
   overflow: hidden;
   // .prod-llk__item

   &__item {
      padding: 0px 46px 0px 20px;
      transition: all 0.3s ease 0s;
      opacity: 1;
      gap: 12px;
      @include md {
         padding: 0px 0px 0px 46px;
         flex-direction: column;
         align-items: start;
      }
   }

   // .prod-llk__content

   &__content {
      gap: 20px;
      flex: 1 1 auto;
      min-width: 0;
      @include sm {
         flex-direction: row-reverse;
         width: 100%;
         align-items: start;
      }
   }

   // .prod-llk__img

   &__img {
      flex: 0 0 60px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      @include sm {
         flex: 0 0 40px;
      }
      img {
         max-width: 100%;
      }
   }

   // .prod-llk__info

   &__info {
      gap: 8px;
      @include sm {
         flex: 1 1 auto;
      }
   }

   // .prod-llk__art

   &__art {
      font-weight: 500;
      color: var(--text-third);
   }

   // .prod-llk__name

   &__name {
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      @include sm {
         font-size: 14px;
      }
   }

   // .prod-llk__manuf

   &__manuf {
      gap: 8px;
   }

   // .prod-llk__man

   &__man {
      line-height: 140%;

      img {
         display: inline-block;
         flex-shrink: 0;
         width: 24px;
         height: 24px;
      }
   }

   // .prod-llk__control

   &__control {
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      text-align: right;
      min-width: 240px;
      flex-shrink: 0;
      justify-content: flex-end;
      @include sm {
         justify-content: space-between;
         width: 100%;
         padding: 6px 0px;
         font-size: 14px;
      }
   }

   // .prod-llk__count

   &__count {
      gap: 8px;
      @include sm {
         span {
            display: inline-flex;
            align-items: center;
            height: 22px;
            img {
               width: 100%;
               object-fit: cover;
               object-position: center;
            }
         }
      }
   }

   // .prod-llk__price

   &__price {
      margin-left: 12px;
      min-width: 80px;
      color: var(--text-main);
   }
}
