<div class="stock-list pt_80 pb_80 mt_80 bg-gray">
   <div class="container">
      <h2 class="subtitle">Специальные предложения</h2>
      <div class="stock-list__items flex fw">
         <a href="#" class="stock-list__item">
            <img src="@img/stock/prev/01.png" alt="stock_img" />
         </a>
         <a href="#" class="stock-list__item">
            <img src="@img/stock/prev/02.png" alt="stock_img" />
         </a>
         <a href="#" class="stock-list__item">
            <img src="@img/stock/prev/03.png" alt="stock_img" />
         </a>
         <a href="#" class="stock-list__item">
            <img src="@img/stock/prev/04.png" alt="stock_img" />
         </a>
         <a href="#" class="stock-list__item">
            <img src="@img/stock/prev/04.png" alt="stock_img" />
         </a>
         <a href="#" class="stock-list__item">
            <img src="@img/stock/prev/03.png" alt="stock_img" />
         </a>
         <a href="#" class="stock-list__item">
            <img src="@img/stock/prev/01.png" alt="stock_img" />
         </a>
         <a href="#" class="stock-list__item">
            <img src="@img/stock/prev/02.png" alt="stock_img" />
         </a>
      </div>
      <div class="stock-rating flex cv mt_80">
         <div class="stock-rating__desc">
            <span>15 лет опыта</span>
            <p>для вашего комфорта</p>
         </div>
         <div class="stock-rating__list flex">
            <a href="#" class="stock-rating__item">
               <div class="stock-rating__rat">
                  <span><img src="@img/icons/star.svg" alt="star_icon" /></span>
                  4.9
               </div>
               <div class="stock-rating__reviews">461 отзыв</div>
               <div class="stock-rating__logo">
                  <img src="@img/icons/rat_01.svg" alt="rat_01_icon" />
               </div>
            </a>
            <a href="#" class="stock-rating__item">
               <div class="stock-rating__rat">
                  <span><img src="@img/icons/star.svg" alt="star_icon" /></span>
                  4.6
               </div>
               <div class="stock-rating__reviews">5 499 отзывов</div>
               <div class="stock-rating__logo">
                  <img src="@img/icons/rat_02.svg" alt="rat_02_icon" />
               </div>
            </a>
            <a href="#" class="stock-rating__item">
               <div class="stock-rating__rat">
                  <span><img src="@img/icons/star.svg" alt="star_icon" /></span>
                  4.5
               </div>
               <div class="stock-rating__reviews">27 отзывов</div>
               <div class="stock-rating__logo">
                  <img src="@img/icons/rat_03.svg" alt="rat_03_icon" />
               </div>
            </a>
            <a href="#" class="stock-rating__item">
               <div class="stock-rating__rat">
                  <span><img src="@img/icons/star.svg" alt="star_icon" /></span>
                  4.4
               </div>
               <div class="stock-rating__reviews">435 отзывов</div>
               <div class="stock-rating__logo">
                  <img src="@img/icons/rat_04.svg" alt="rat_04_icon" />
               </div>
            </a>
         </div>
      </div>
   </div>
</div>
