<footer class="footer mt_80">
    <div class="container">
        <div class="footer__content flex">
            <div class="info-footer">
                <a href="#" class="info-footer__logo">
                    <img src="@img/all/logo-white.svg" alt="logo-white_icon" />
                </a>
                <div class="info-footer__wrap">
                    <div class="info-footer__subtitle">Будьте в курсе наших новостей и акций</div>
                    <form action="" class="info-footer__form" data-parsley-validate>
                        <div class="input-box">
                            <input type="email" class="input" maxlength="64" required placeholder="Ваш email" data-parsley-required-message="" data-parsley-type="email" />
                            <div class="error">
                                <div class="error__icon"><img src="@img/icons/error.svg" alt="error_icon" /></div>
                                <div class="error__text">Неверный формат</div>
                            </div>
                        </div>
                        <button class="btn btn-secondary">
                            Подписаться
                            <span>
                                <img src="@img/icons/arr-white.png" alt="arr-white_icon" />
                            </span>
                        </button>
                        <div class="info-footer__polit">
                            Нажимая на данную кнопку вы даёте согласие на
                            <a href="#">обработку персональных данных</a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="menu-footer flex">
                <div class="menu-footer__col footer__drop">
                    <div class="footer__top">
                        <a href="#">Каталог</a>
                        <button class="footer__arr">
                            <svg class="icon">
                                <use xlink:href="@img/sprite.svg#arr"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="footer__body">
                        <ul>
                            <li><a href="#">Летние шины</a></li>
                            <li><a href="#">Зимние шины</a></li>
                            <li><a href="#">Мотошины</a></li>
                            <li><a href="#">Литые диски</a></li>
                            <li><a href="#">Штампованные диски</a></li>
                            <li><a href="#">Кованные диски</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menu-footer__col footer__drop">
                    <div class="footer__top">
                        <a href="#">Услуги</a>
                        <button class="footer__arr">
                            <svg class="icon">
                                <use xlink:href="@img/sprite.svg#arr"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="footer__body">
                        <ul>
                            <li><a href="#">Стационарный шиномонтаж</a></li>
                            <li><a href="#">Мобильный шиномонтаж</a></li>
                            <li><a href="#">Хранение колёс</a></li>
                            <li><a href="#">Доставка по России</a></li>
                            <li><a href="#">Доставка по Санкт-Петербургу</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menu-footer__col footer__drop">
                    <div class="footer__top">
                        <a href="#">Покупателям</a>
                        <button class="footer__arr">
                            <svg class="icon">
                                <use xlink:href="@img/sprite.svg#arr"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="footer__body">
                        <ul>
                            <li><a href="#">Оплата и получение</a></li>
                            <li><a href="#">Гарантии, возврат, обмен</a></li>
                            <li><a href="#">Отзывы</a></li>
                            <li><a href="#">Почему именно мы?</a></li>
                            <li><a href="#">Новости</a></li>
                            <li><a href="#">Акции</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="contact-footer footer__drop">
                <div class="footer__top">
                    <a href="#">Контакты</a>
                    <button class="footer__arr">
                        <svg class="icon">
                            <use xlink:href="@img/sprite.svg#arr"></use>
                        </svg>
                    </button>
                </div>
                <div class="footer__body">
                    <div class="contact-footer__body">
                        <div class="contact-footer__item">
                            <div>Санкт-Петербург, <br />Октябрьская наб. д. 104 к. 13</div>
                        </div>
                        <div class="contact-footer__item">
                            <a href="tel:88005050573">
                                <span>
                                    <svg class="icon">
                                        <use xlink:href="@img/sprite.svg#phone"></use>
                                    </svg>
                                </span>
                                8 (812) 703 03 73
                            </a>
                            <p>Звонок по Санкт-Петербургу</p>
                        </div>
                        <div class="contact-footer__item">
                            <a href="tel:88005050573">
                                <span>
                                    <svg class="icon">
                                        <use xlink:href="@img/sprite.svg#phone"></use>
                                    </svg>
                                </span>
                                8 (800) 505 05 73
                            </a>
                            <p>Звонок по России бесплатный</p>
                        </div>
                        <button class="contact-footer__btn btn btn-primary openFeedback">Заказать обратный звонок</button>
                    </div>
                    <div class="social flex">
                        <a href="#" rel="nofollow">
                            <img src="@img/icons/vk.svg" alt="vk_icon" />
                        </a>
                        <a href="#" rel="nofollow">
                            <img src="@img/icons/ok.svg" alt="ok_icon" />
                        </a>
                        <a href="#" rel="nofollow">
                            <img src="@img/icons/youtube.svg" alt="youtube_icon" />
                        </a>
                        <a href="#" rel="nofollow">
                            <img src="@img/icons/telegram.svg" alt="telegram_icon" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom flex sb">
            <div class="footer__left">
                <p>2008-2023 © Интернет-магазин SPB KOLESO. Все права защищены.</p>
                <p>Вся информация на сайте дана в качестве справочной и не является публичной офертой.</p>
            </div>
            <div class="footer__right">Сайт разработан <a href="#">Название компании</a></div>
        </div>
    </div>
    <button class="btn-up flex-cc">
        <svg class="icon">
            <use xlink:href="@img/sprite.svg#arrow-up"></use>
        </svg>
    </button>
</footer>
@@include('../popup/popup.html', {})
<!-- </div> -->
<script src="js/libs/jquery3.6.1.min.js"></script>
<script src="js/libs/jquery-ui.js"></script>
<script src="js/libs/parsley.min.js"></script>
<script src="js/libs/fancybox.min.js"></script>
<script src="js/libs/slick.min.js"></script>
<script src="js/libs/dynamic_adapt.js"></script>
<script src="js/libs/simplebar/simplebar.js"></script>
<script src="js/libs/select2.min.js"></script>
<script src="js/app.min.js"></script>
<script src="js/form.js"></script>
