<div class="popular-list mt_80">
    <h2 class="subtitle">Популярные бренды</h2>
    <div class="popular-list__wrap flex fw">
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
        <a href="#">Amtel</a>
    </div>
    <button type="button" class="popular-list__btn btn">Показать все бренды</button>
</div>
