<div class="panel-menu flex">
    <a href="#" class="panel-menu__item @@home">
        <div class="panel-menu__icon">
            <svg class="icon">
                <use xlink:href="@img/sprite.svg#home"></use>
            </svg>
        </div>
        <div class="panel-menu__name">Главная</div>
    </a>
    <a href="tel:+88127030373" class="panel-menu__item">
        <div class="panel-menu__icon">
            <svg class="icon">
                <use xlink:href="@img/sprite.svg#phone"></use>
            </svg>
        </div>
        <div class="panel-menu__name">Позвонить</div>
    </a>
    <button class="panel-menu__item openBurger">
        <div class="panel-menu__icon">
            <svg class="icon">
                <use xlink:href="@img/sprite.svg#burger"></use>
            </svg>
        </div>
        <div class="panel-menu__name">Меню</div>
    </button>
    <a href="#" class="panel-menu__item">
        <!-- <div class="panel-menu__icon panel-menu__icon_basket in"> есть товар -->
        <div class="panel-menu__icon panel-menu__icon_basket">
            <svg class="icon">
                <use xlink:href="@img/sprite.svg#basket"></use>
            </svg>
            <span>0</span>
        </div>
        <div class="panel-menu__name">Корзина</div>
    </a>
    <a href="#" class="panel-menu__item">
        <div class="panel-menu__icon">
            <svg class="icon">
                <use xlink:href="@img/sprite.svg#user"></use>
            </svg>
        </div>
        <div class="panel-menu__name">Войти</div>
    </a>
</div>
